<Directory "http://lodc.jp/2015/">
  Order allow, deny
  Allow from all
  
  AuthUserFile .htpasswd
  AuthGroupFile /dev/null
  AuthName "Please enter your ID and password"
  AuthType Basic
  require valid-user
  Options -Indexes
</Directory>

<Files ~ "^.(htpasswd|htaccess)$">
    deny from all
</Files>
